*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


img {
  max-inline-size: 100%;
  display: block;
}

/* Base styles - mobile first */
body {
  font-family: 'Playfair display', 'Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  background-color: #edf1f4;
  margin: 0;
}

/* Base styles - mobile first */
.wrapper {
  inline-size: 80%;
  max-inline-size: 1100px;
  margin-block: 0;
  margin-inline: auto;
}

/* Base styles - mobile first */
header {
  /* border: 3px solid orange; */
  font-size: 1.875rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../images/header-photo.webp);
  background-position: center;
  background-size: cover;
  padding-inline: 1.875em;
  margin-block: 0;
  color: #fff;

  /* Tablet (600px and up) */
  /* @media (width > 600px) {
    font-size: 2.09375rem;
  } */

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    padding-block: 1.25em;
  } */

  /* @media (width > 900px) {
    .large-screen {
      border: 1px solid pink;
      display: flex;
      gap: 0.625em;
      justify-content: space-between;
    }
  } */
}


/* Base styles - mobile first */
h1,
h2,
h3,
h4 {
  margin-block-start: 0;
}


/* Base styles - mobile first */
h1 {
  /* border: 2px solid gold; */
  margin-block-end: 0.625em;

  /* Tablet (600px and up) */
  /* @media (width > 600px) {
    font-size: 5rem;
  } */

  /* Small laptops/tablets landscape (900px and up) */
  /* @media (width > 900px) {
    font-size: 6rem;
  } */
}


/* Base styles - mobile first */
span {
  color: #c67b46;
}


/* Base styles - mobile first */
.page-title {
  /* border: 2px solid magenta; */
  text-align: center;
  color: #c67b46;
  margin-block-start: 1.25em;

  /* Tablet (600px and up) */
  /* @media (width > 600px) {
    font-size: 2.125rem;
  } */

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    font-size: 2.5rem;
  } */
}


/* Base styles - mobile first */
.primary-nav ul,
.secondary-nav ul {
  /* border: 2px solid red; */
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  list-style-type: none;
  padding-block: 0.625em;
  padding-inline: 0.625em;
  margin-block-end: 1.344em;

  /* Tablet (600px and up) */
  /* @media (width > 600px) {
    font-size: 1.5rem;
  } */

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-block-start: 3.75em;
  } */
}


/* Base styles - mobile first */
.primary-nav a,
.secondary-nav a {
  /* border: 2px solid purple; */
  text-decoration: none;
  color: #fff;

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    margin-inline-start: 3.125em;
  } */
}


/* Base styles - mobile first */
.primary-nav a:hover,
.primary-nav a:focus-visible,
.secondary-nav a:hover,
.secondary-nav a:focus-visible {
  color: #00f;
}

/* Base styles - mobile first */
.secondary-nav {
  background: #85bfe3;
  border: 5px solid #c67b46;
}

/* Base styles - mobile first */
.jump-link ul {
  /* border: 2px solid orange; */
  text-align: center;
  font-size: 1.1rem;
  font-weight: 900;
  list-style: none;

  /* Tablet (600px and up)*/
  /* @media (width > 600px) {
    font-size: 1.375rem;
  } */

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    margin-block-start: 5.5em;
    font-size: 0.9375rem;
  } */
}


/* Base styles - mobile first */
.jump-link a {
  /* border: 2px solid purple; */
  text-decoration: none;
  color: #c67b46;

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    margin-inline-end: 3.125em;
  } */
}


/* Base styles - mobile first */
.jump-link a:hover,
.jump-link a:focus-visible {
  color: #f00;
}


/* Base styles - mobile first */
.scroll-nav ul {
  /* border: 2px solid green; */
  font-size: 1.1rem;
  list-style: none;
  text-align: center;
  font-weight: 600;

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    display: flex;
    justify-content: space-between;
    margin-block-start: 4.3125em;
    font-size: 1.1rem;
  } */
}


/* Base styles - mobile first */
.scroll-nav a {
  /* border: 2px solid purple; */
  text-decoration: none;
  color: #f00;

  /* Tablet (600px and up)*/
  /* @media (width > 600px) {
    font-size: 1.1875rem;
  } */

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    margin-inline-start: 3.125em;
  } */
}


/* Base styles - mobile first */
.scroll-nav a:hover,
.scroll-nav a:focus-visible {
  color: #fff;
}

/* Base styles - mobile first */
.section-title {
  /* border: 2px solid blue; */
  text-align: center;
  margin-block-end: 0;


  /* Tablet (600px and up) */
  /* @media (width > 600px) {
    font-size: 1.625rem;
  } */
}

/* Base styles - mobile first */
.section-text {
  /* border: 2px solid orange; */
  margin-block-start: 0;
  font-size: 1.1875rem;


  /* Tablet (600px and up) */
  /* @media (width > 600px) {
    font-size: 1.625rem;
  } */
}

.section-title,
.section-text {
  /* border: 2px solid orangered; */
  font-family: 'Raleway', sans-serif;
  padding-block: 0.625em;
  padding-inline: 1.25em;
}

/* Base styles - mobile first */
section ul {
  list-style-position: inside;

  /* Tablet (600px and up) */
  /* @media (width > 600px) {
    list-style-position: outside;
  } */

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    list-style-position: outside;
  } */
}


/* Base styles - mobile first */
.ingredients-list,
.instructions-list {
  /* border: 2px solid red; */
  color: #c67b46;
  text-align: center;
}


figure a {
  color: #000;
  text-decoration: none;
}


figure a img {
  transition: transform 0.3s ease;
  cursor: pointer;
}


figure a img:hover {
  transform: scale(1.05);
  /* Slightly zooms in the image */
}


.figcaption-text {
  margin-block-start: 0.875em;
  font-size: 1.1rem;
  font-style: italic;

  /* Tablet (600px and up)*/
  /* @media (width > 600px) {
    font-size: 1.375rem;
  } */

}


/* Base styles - mobile first */
.line1,
.line2 {
  display: block;
  color: #000;
}


/* Base styles - mobile first */
aside {
  /* border: 1px solid red; */
  font-size: 1.075rem;
  background: #fff;
  padding-block: 1.875em;
  padding-inline: 1.875em;

  /* Tablet (600px and up)*/
  /* @media (width > 600px) {
    font-size: 1.375rem;
  } */

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    font-size: 1.25rem;
    margin-block-start: 1.125em;
    margin-block-end: 0.9375em;
  } */
}


/* Base styles - mobile first */
aside ol ::marker,
aside ul ::marker {
  color: #c67b46;
}


/* Base styles - mobile first */
.aside-title-color {
  color: #00f;
}


/* Base styles - mobile first */
.aside-faq-title {
  text-align: center;
}


/* Base styles - mobile first */
footer {
  /* border: 2px solid magenta; */
  margin-block-start: 6.25em;
  color: blue;
}


/* Base styles - mobile first */
footer ul {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
}


/* Base styles - mobile first */
footer li {
  /* border: 2px solid red; */
  padding-block: 0;
}


/* Base styles - mobile first */
.copyright-text {
  /* border: 1px solid red; */
  color: #000;

  /* Small laptops/tablets landscape (900px and up)*/
  /* @media (width > 900px) {
    margin-inline-end: 3.125em;
  } */
}


/* Small laptops/tablets landscape (900px and up)*/
/* @media (width > 900px) {
  .two-col-layout {
    border: 2px solid aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25em;
    margin-block-start: 3.125em;
  } */
}


.col {
  /* border: 1px solid green; */
  margin-block: 0;
}

/* Small laptops/tablets landscape (900px and up)*/
/* @media (width > 900px) {
  .section-text {
    text-align: left;
  } */
}