*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


img {
  max-inline-size: 100%;
  display: block;
}

body {
  font-family: 'Playfair display', 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  background-color: #edf1f4;
  margin: 0;
}

.wrapper {
  inline-size: 80%;
  max-inline-size: 1100px;
  margin-block: 0;
  margin-inline: auto;
}

header {
  /* border: 3px solid orange; */
  font-size: 1.6875rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../images/header-photo.webp);
  background-position: center;
  background-size: cover;
  padding-block: 2.5em;
  padding-inline: 2.5em;
  margin-block: 0;
  color: #fff;

  @media (width > 600px) {
    padding-block: 1.25em;
  }

  @media (width > 600px) {
    .large-screen {
      /* border: 1px solid pink; */
      display: flex;
      gap: 0.625em;
      justify-content: space-between;
    }
  }
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
}

h1 {
  /* border: 2px solid gold; */
  margin-block-end: 0.625em;

  @media (width > 600px) {
    font-size: 6rem;
    /* margin-block-end: 7.5em; */
  }
}

span {
  color: #c67b46;
}

.page-title {
  /* border: 2px solid magenta; */
  text-align: center;
  color: #c67b46;
  margin-block-start: 1.25em;

  @media (width > 600px) {
    font-size: 2.5rem;
    /* margin-block: 1.25em; */
  }
}

.primary-nav ul,
.secondary-nav ul {
  /* border: 2px solid red; */
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  list-style-type: none;
  padding-block: 0.625em;
  padding-inline: 0.625em;
  margin-block-end: 1.344em;

  @media (width > 600px) {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-block-start: 3.75em;
  }
}


.primary-nav a,
.secondary-nav a {
  /* border: 2px solid purple; */
  text-decoration: none;
  color: #fff;

  @media (width > 600px) {
    margin-inline-start: 3.125em;
  }
}

.primary-nav a:hover,
.primary-nav a:focus-visible,
.secondary-nav a:hover,
.secondary-nav a:focus-visible {
  color: #00f;
}

.secondary-nav {
  background: #85bfe3;
  border: 5px solid #c67b46;
}

.jump-link ul {
  /* border: 2px solid orange; */
  text-align: center;
  font-size: 1.1rem;
  font-weight: 900;
  list-style: none;

  @media (width > 600px) {
    margin-block-start: 5.5em;
    font-size: 0.9375rem;
  }
}

.jump-link a {
  /* border: 2px solid purple; */
  text-decoration: none;
  color: #c67b46;

  @media (width > 600px) {
    margin-inline-end: 3.125em;
  }
}

.jump-link a:hover,
.jump-link a:focus-visible {
  color: #f00;
}

.scroll-nav ul {
  /* border: 2px solid green; */
  font-size: 1.1rem;
  list-style: none;
  text-align: center;
  font-weight: 600;

  @media (width > 600px) {
    display: flex;
    justify-content: space-between;
    margin-block-start: 4.3125em;
    font-size: 1.1rem;
  }
}

.scroll-nav a {
  /* border: 2px solid purple; */
  text-decoration: none;
  color: #f00;

  @media (width > 600px) {
    margin-inline-start: 3.125em;
  }
}

.scroll-nav a:hover,
.scroll-nav a:focus-visible {
  color: #fff;
}

.section-title {
  /* border: 2px solid blue; */
  margin-block-end: 0;
}

.section-text {
  /* border: 2px solid orange; */
  margin-block-start: 0;
}

.section-title,
.section-text {
  /* border: 2px solid orangered; */
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-block: 0.625em;
  padding-inline: 1.25em;
}

section ul {
  list-style-position: inside;

  @media (width > 600px) {
    list-style-position: outside;
  }
}

.ingredients-list,
.instructions-list {
  /* border: 2px solid red; */
  color: #c67b46;
  text-align: center;
}

figure a {
  color: #000;
  text-decoration: none;
}

figure a img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

figure a img:hover {
  transform: scale(1.05);
  /* Slightly zooms in the image */
}

.figcaption-text {
  margin-block-start: 0.875em;
  font-size: 1.1rem;
  font-style: italic;
}

aside {
  /* border: 1px solid red; */
  font-size: 1.075rem;
  text-align: center;
  background: #fff;
  padding-block: 1.875em;
  padding-inline: 1.875em;

  @media (width > 600px) {
    font-size: 1.25rem;
    margin-block-start: 1.125em;
    margin-block-end: 0.9375em;
  }
}

aside ol ::marker,
aside ul ::marker {
  color: #c67b46;
}

.aside-title-color {
  color: #00f;
}


footer {
  /* border: 2px solid magenta; */
  margin-block-start: 6.25em;
  color: blue;
}

footer ul {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer li {
  /* border: 2px solid red; */
  padding-block: 0;
}

.copyright-text {
  color: #000;

  @media (width > 600px) {
    margin-inline-end: 3.125em;
  }
}

@media (width > 600px) {
  .two-col-layout {
    /* border: 2px solid aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25em;
    margin-block-start: 3.125em;
  }
}

.col {
  /* border: 1px solid green; */
  margin-block: 0;
}

@media (width > 600px) {
  .section-text {
    text-align: left;
  }
}